<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clv.jwat.note2p.mapper.UserMapper">
    <resultMap id="UserMapper" type="AppUser">
        <result property="id" column="ID"/>
        <result property="email" column="EMAIL"/>
        <result property="password" column="PASSWORD"/>
        <result property="fullname" column="FULLNAME"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="active" column="IS_ACTIVE"/>
    </resultMap>

    <select id="findByEmailAndStatus" resultMap="UserMapper">
        SELECT ID, FULLNAME, EMAIL, PASSWORD, IS_ACTIVE
        FROM USERS
        WHERE EMAIL = #{email} AND IS_ACTIVE = #{active}
    </select>

    <select id="findByEmail" resultMap="UserMapper">
        SELECT ID, FULLNAME, EMAIL, PASSWORD, IS_ACTIVE
        FROM USERS
        WHERE EMAIL = #{email}
    </select>

    <select id="findById" resultMap="UserMapper">
        SELECT ID, FULLNAME, EMAIL, IS_ACTIVE
        FROM USERS
        WHERE ID = #{id} AND IS_ACTIVE = #{active}
    </select>

    <insert id="save" parameterType="AppUser">
        INSERT INTO users (email, password, fullname, is_active, created_at)
        VALUES (#{email}, #{password}, #{fullname}, #{isActive}, #{createdAt});
        <selectKey resultType="Long" keyProperty="id" order="AFTER">
            SELECT LASTVAL() AS ID
        </selectKey>
    </insert>
</mapper>